<nav>
  <a href="/" class="logo-link"> ORDER PROCESSING </a>
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/customers/" id="customer-link" class="nav-link">Customers</a>
    </li>
    <li class="nav-item">
      <a href="/products/" id="proudct-lik" class="nav-link">Products</a>
    </li>
    <li class="nav-item">
      <a href="/orders/" id="order-link" class="nav-link">Orders</a>
    </li>
  </ul>
</nav>