/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  max-width: 90%;
  margin: auto;
}

.customers-list {
  list-style: none;
  padding: 0;
}
  
.customer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px solid gray;
  padding-left: 10px;
}

.customer + .customer {
  border-top: 0;
}

.customer span {
  padding: 5px;
  flex: 1;
}

.customer button {
  border: 1px solid grey;
  cursor: pointer;
  background-color: green;
  color: #fff;
  margin: 4px 2px;
  border-radius: 4px;
}

.customer span + span {
  border-left: 1px solid gray;
}

.new {
  border: 1px solid grey;
  text-decoration: none;
  border-radius: 50%;
  padding: 12px 6px;
  background: none;
  color: blue;
  cursor: pointer;
}

.error {
  color: red;
}